.hero {
  background-color: #1f2937;
  font-family: roboto;
}
.web {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.mini,
a {
  font-size: 18px;
  color: #e5e7eb;
}
.logo {
  size: 24px;
  margin-left: 25px;
}
.bluep,
button {
  background-color: #3882f6;
}
.info {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.head,
.heads {
  display: flex;
  justify-content: space-between;
}
.info {
  text-align: center;
}
.pics {
  display: flex;
  justify-content: center;
  flex-direction: row;

  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  gap: 25px;
}
.bluep {
  max-width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.box {
  border-color: #3882f6;
  border-radius: 5px;
  border-spacing: 2.5px;
  max-width: 200px;
  max-height: 200px;
}

button {
  height: 35px;
  margin-top: 25px;
  border-radius: 10px;
}
.left {
  margin-right: 15px;
}
.quotish {
  max-width: 700px;
  margin: 0 auto;
}
a {
  margin-right: 50px;
  gap: 8px;
}
.coders {
  margin-top: 50px;
}
.words {
  max-width: 600px;
  margin-left: 100px;
}
.mini {
  padding-top: 5px;
}
.button-1 {
  margin-bottom: 35px;
}
.web {
  margin-top: 40px;
}
.call {
  margin-left: 15px;
}
.box {
  display: flex;
  float: 1 1 200px;
  max-width: 400px;
}
